
@import url('https://fonts.googleapis.com/css?family=Gaegu|Gloria+Hallelujah');

/* Formatação texto*/
div#interface {
	width: 80%;
	height: auto;
	margin: auto;
	padding: 5px;
	border: 3px solid white;
    background-color: white;
    box-shadow:2px 2px 8px rgba(0,0,0,.4);
	
}
body#fundo {
	background-color: #abe6e8;
}
p {
	text-align: justify; 
	text-indent:10px;
	font-size: 15px;
}

div#text {
  width: 400px;
  margin-left: 50%;
  padding: 0px;
  background-color: #dcf1f2;
}

svg {
	float: left;
    width: 450px;
    height: 450px;
}

button.bt {
	width: 30%;
	margin-left: 70%;
	margin-top: -14%;
	border-radius: 5px;
}

button.bt:hover {
	background-color: #25a306;
	transition: 0.2s;
}

/* Grid */

ul#album  {
	width: 1000px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#album li {
	float: left;
	width: 220px;
	height: 220px;
	margin: 30px;
	border:5px solid white;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	-webkit-transition: all .4s ease-in;
}

ul#album li span {
	opacity: 0;
	color:#ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,0.1);
	font-size: 9pt;
	line-height: 390px;
	padding: 3px;
}

ul#album li:hover{
	-webkit-transform: scale(1.5);
}

ul#album li:hover span {
     opacity: 1;
 }

ul#album li#foto1 {
	background: url('../_img/sign-up.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}

ul#album li#foto1:hover {
	background-position: 0px 0px;
	background-size: 210px 210px;
}

ul#album li#foto2 {
	background: url('../_img/search.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#album li#foto2:hover {
	background-position: 0px 0px;
	background-size: 210px 210px;
}

ul#album li#foto3 {
	background: url('../_img/princing.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#album li#foto3:hover {
	background-position: 0px 0px;
	background-size: 210px 210px;
}

ul#album li#foto4 {
	background: url('../_img/contact.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#album li#foto4:hover {
	background-position: 0px 0px;
	background-size: 210px 210px;
}

ul#album li#foto5 {
	background: url('../_img/weather.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#album li#foto5:hover {
	background-position: 0px 0px;
	background-size: 210px 210px;
}

ul#album li#foto6 {
	background: url('../_img/form.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#album li#foto6:hover {
	background-position: 0px 0px;
	background-size: 210px 210px;
}

ul#album {
	border-bottom: 1px #606060 solid;
}



/* Rodapé */

footer#rodape {
	width: 95%;
	padding-left: 0;
	position: absolute;
	text-align: justify;
}

.coluna {
    float: left;
    text-align: center;
    height: 300px;
    width: 21%;
    margin: 0px;
    padding: 15px;
    font-family: arial;
    position: relative;
}

h4 {
	background: #C3D7E9;
}



/* Formatando Layouts*/

ul#lay  {
	width: 900px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}

ul#lay li {
	float: left;
	width: 300px;
	height: 300px;
	margin: 30px;
	border:5px solid white;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	-webkit-transition: all .4s ease-in;
}

ul#lay li span {
	opacity: 0;
	color:#ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,0.4);
	font-size: 9pt;
	line-height: 560px;
	padding: 3px;
}

ul#lay li:hover{
	-webkit-transform: scale(1.5);
}

ul#lay li:hover span {
     opacity: 1;
 }

ul#lay li#foto01 {
	background: url('../_img/layout1.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}

ul#lay li#foto01:hover {
	background-position: 0px 0px;
	background-size: 290px 290px;
}

ul#lay li#foto02 {
	background: url('../_img/layout2.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#lay li#foto02:hover {
	background-position: 0px 0px;
	background-size: 290px 290px;
}

ul#lay li#foto03 {
	background: url('../_img/layout3.png') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 300px;
	background-color: #ffffff;
}
ul#lay li#foto03:hover {
	background-position: 0px 0px;
	background-size: 290px 290px;
}


/* Form */

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}


/* sign-up */

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

svg.sv {
	width: 150px;
    height: 150px;
}

/* weather */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
body.fund {
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://wallup.net/wp-content/uploads/2016/01/64339-fantasy_art-sky.jpg");
}

.weather-card {
  margin: 60px auto;
  height: 740px;
  width: 450px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.weather-card .top {
  position: relative;
  height: 570px;
  width: 100%;
  overflow: hidden;
  background: url("http://st.gde-fon.com/wallpapers_original/28692_lunnaya-noch_more_nebo_pastoral_1600x1200_www.Gde-Fon.com.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.weather-card .top .wrapper .mynav {
  height: 20px;
}
.weather-card .top .wrapper .mynav .lnr {
  color: #fff;
  font-size: 20px;
}
.weather-card .top .wrapper .mynav .lnr-chevron-left {
  display: inline-block;
  float: left;
}
.weather-card .top .wrapper .mynav .lnr-cog {
  display: inline-block;
  float: right;
}
.weather-card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .temp {
  margin-top: 20px;
}
.weather-card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper .temp a .temp-type {
  font-size: 85px;
}
.weather-card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.weather-card .bottom {
  padding: 0 30px;
  background: #fff;
}
.weather-card .bottom .wrapper .forecast {
  overflow: hidden;
  margin: 0;
  font-size: 0;
  padding: 0;
  padding-top: 20px;
  max-height: 155px;
}
.weather-card .bottom .wrapper .forecast a {
  text-decoration: none;
  color: #000;
}
.weather-card .bottom .wrapper .forecast .go-up {
  text-align: center;
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}
.weather-card .bottom .wrapper .forecast li {
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.25);
  line-height: 1em;
  margin-bottom: 30px;
}
.weather-card .bottom .wrapper .forecast li .date {
  display: inline-block;
}
.weather-card .bottom .wrapper .forecast li .condition {
  display: inline-block;
  vertical-align: middle;
  float: right;
  font-size: 25px;
}
.weather-card .bottom .wrapper .forecast li .condition .temp {
  display: inline-block;
  vertical-align: top;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 2px;
}
.weather-card .bottom .wrapper .forecast li .condition .temp .deg {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  margin-left: 3px;
  vertical-align: top;
}
.weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
  font-size: 20px;
}
.weather-card .bottom .wrapper .forecast li.active {
  color: rgba(0, 0, 0, 0.8);
}
.weather-card.rain .top {
  background: url("https://lh6.ggpht.com/8FwB4KvqItsopZszZzy7QMkyNy5cN6PHeMdYKyuzi_iMcnF5vyjoIO6XzeoUStPHHA=h900") no-repeat;
  background-size: cover;
  background-position: center center;
}


/*atividades cores*/ 

table {
	position: relative;
	left: 10%;
	width: 80%;
	border: none;
	color: #000;
	text-align: center;
	margin: 10px;
}
table#alter tr td {
	padding: 15px;
	border: none;
}

#a {
	background-color: #5A5537;
}

#b {
	background-color: #A59A67;
}

#c {
	background-color: #607334;
}

#d {
	background-color: #5B125A;
}

#e {
	background-color: #4181FF;
}

#f {
	background-color: #FF497C;
}

#g {
	background-color: #FF2600;
}

#h {
	background-color: #B5B5B5;
}

#i {
	background-color: #505050;
}

#j {
	background-color: #0D0D0D;
}

#k {
	background-color: #C3D7E9;
}

#l {
	background-color: #6461DD;
}

#m {
	background-color: #11314F;
}

#n {
	background-color: #921101;
}

#o {
	background-color: #FF7202;
}

#p {
	background-color: #FFB5D0;
}

#q {
	background-color: #FFFC00;
}

#r {
	background-color: #008D00;
}


/* contato */ 

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

#contact{
    background-color:#f1f1f1;
    font-family: 'Roboto', sans-serif;
}

#contact .well{
    margin-top:30px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #1e1e1e;
}

#contact button{
    border-radius:0;
    border:2px solid #1e1e1e;
}

#contact .row{
    margin-bottom:30px;
}

.map iframe {
	pointer-events: none;
    width: 100%;
    margin: 5px;
    border: none;
}
@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }
    
}

/* Search */ 
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.custom-search-form input {
    border: 2px solid #ccc;
    padding: 13px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
	border-radius:50px;
    font-family: 'Open Sans', sans-serif;
}
.custom-search-form {
    margin: 50px auto auto;
}
#submit:hover {
	background-color: red;
	transition: 1s;
}
#submit:active {
	position:relative;
	top:1px;
}

/*Preço */

.db-bk-color-one {
    background-color: #79cbdd;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #adb753;
}


.db-padding-btm {
    padding-bottom: 50px;
}
.db-button-color-square {
    color: #eaada8;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 10px;
   }

    .db-button-color-square:hover {
        color: #fefefe;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color: #52E89E;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached , .col-lg-4,
.db-attached , .col-lg-3,
.db-attached , .col-md-4,
.db-attached , .col-md-3,
.db-attached , .col-sm-4,
.db-attached , .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }